{% extends "layout.njk" %}

{% block content %}
  <div>
    <ul>
      {% for category in categories %}
        <a href="/{{category}}">
          <li>
            <u>{{category | capitalize}}</u>
          </li>
        </a>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
