<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/style/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <script src="/js/script.js"></script>
  </head>
  <body>
    <nav id='menu'>
      <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
      <ul>
        {% for game in listOfGames %}
          <li>
            <a href="/games/{{ game.slug }}">
              {{ game.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </body>
  {% block content %}
  {% endblock %}
</html>
